@model IEnumerable<tl2_tp6_2024_NatyBlass.Models.Presupuestos.Presupuesto>

@{
    ViewData["Title"] = "Presupuestos"; // sería el titulo de la pág
}

<h1>Listar Presupuestos</h1>

<p>
    <a asp-action="Crear">Crear Nuevo Presupuesto</a>
</p>

<table>
    <thead>
        <tr>
            <th>Nombre Destinatario</th>
            <th>Fecha Creación</th>
            <th>Monto</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var presupuesto in Model)
        {
            <tr>
                <td>@presupuesto.NombreDestinatario</td>
                <td>@presupuesto.FechaCreacion</td>
                <td>@presupuesto.MontoPresupuesto()</td>
                <td>
                    <a asp-action="ModificarPresupuesto" asp-route-id="@presupuesto.IdPresupuesto">Modificar</a>
                    <a asp-action="Eliminar" asp-route-id="@presupuesto.IdPresupuesto">Eliminar</a>
                    <a asp-action="Detalles" asp-route-id="@presupuesto.IdPresupuesto">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>